{% extends "base_with_sidebar.html"%}
{% load i18n l10n %}

{% block title %}{% trans "Blog" %}{% endblock %}

{% block content %}
    <div class="articles">
        {% for article in articles %}
            <table>
                {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.published.date|localize }}
                        </td>
                        <td>
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <ul class="categories-list">
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <ul class="tags-list">
        {% for tag in tags %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
