Django==1.7.4
pytils>=0.2.3
Pillow>=2.6.1
html5lib>=0.95
httplib2>=0.7.4
python-openid>=2.2.5
markdown2>=2.0.1

-e git+git://github.com/adw0rd/scipio.git#egg=scipio-0.1.1
-e git+git://github.com/adw0rd/pingdjack.git@0.2.1#egg=pingdjack-0.2.1

# wordpress_importer command required:
html2text>=3.200.3
